


.roll-button{
   height: 10%;
   width: 20%;
   display: flex;
   position: absolute;
}

 .body{
    height: 100%;
    width: 100%;
 
    background-color: black;
    display: flex;
  
 }

 .board-1{
    height: 50%;
    width: 50%;
    
    background-color: rgb(165, 32, 32);
    display: flex;
    position: fixed;
    top: 10%;
    left: 25%;
   
 }